# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio cache files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build cache
*.dtbcache.*
*.futdcache.*

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# IntelliCode
.intellisense/

# Others
*.log
*.cache

